<h2> Pizza Orders </h2>

<% @pizzas.each do |pizza| %>
 <b>Name:</b>
 <p><a href="/pizzas/<%= pizza.id %>"><%=pizza.pretty_name()%></a></p>

<b>Order:</b>
<p><%pizza.quantity %> x <%= pizza.topping %></p>
<hr>
<% end %>
